.App {
  text-align: center;
}

.AppPageContainer{
  padding-top:50px;
}

.addButton{
  width: 60px;
  height: 60px;
  position: fixed;
  border-radius: 90px;
  background-color: rgba(254,40,81,1);
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  color: white;
  position: fixed;
  bottom: 100px;;
  right: 20px;
  line-height: 60px;
  text-align: center;
  font-size: 30px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
